<div class="row">
  <h3 class="row__title">{{ title }}</h3>
  <div class="row__posters">
    <div class="row__poster" *ngFor="let movie of movies">
      <img
        (click)="movieSelected(movie)"
        class="poster"
        [ngClass]="{ posterLarge: isLargeRow }"
        src="{{
          baseImageUrl + (isLargeRow ? movie.poster_path : movie.backdrop_path)
        }}"
        [alt]="movie.original_title"
      />
    </div>
  </div>
  <div class="row__video">
    <youtube-player
      *ngIf="showVideo()"
      [videoId]="videoId"
      (ready)="onReady($event)"
      (change)="onStateChange($event)"
      height="400"
      width="1000"
    ></youtube-player>
    <div class="row__detail">
      <button
        *ngIf="showVideo()"
        class="banner__button"
        [routerLink]="['/movies/' + selectedID + '/' + selectedBackDrop]"
      >
        Open Movie
      </button>
    </div>
  </div>
</div>
